/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/.idea/dataSources.xml
/target/classes/webapp/index.html
/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/target/library-server-1.0-SNAPSHOT.jar
/target/classes/no/kristiania/library/LibraryServer.class
/target/test-classes/no/kristiania/library/LibraryServerTest.class
/.idea/libraries/Maven__net_bytebuddy_byte_buddy_1_12_10.xml
/.idea/libraries/Maven__org_assertj_assertj_core_3_23_1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_5_8_1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_api_5_8_1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_engine_5_8_1.xml
/.idea/libraries/Maven__org_junit_jupiter_junit_jupiter_params_5_8_1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_commons_1_8_1.xml
/.idea/libraries/Maven__org_junit_platform_junit_platform_engine_1_8_1.xml
/target/surefire-reports/no.kristiania.library.LibraryServerTest.txt
/target/maven-archiver/pom.properties
/.idea/sqldialects.xml
/target/surefire-reports/TEST-no.kristiania.library.LibraryServerTest.xml
